@{
    ViewData["Title"] = "About Programming Questions";
}
<h2>@ViewData["Title"].</h2>
<p>
    Programming Questions is a random programming question generator. You can use Programming Questions
    to improve as a software developer.
</p>