@model ProgrammingQuestions.Drivers.ProgrammingQuestion

@{
    ViewBag.Title = "Random Programming Question";
}

<h2>Programming Question</h2>
<div>
    <p>@Model.Question</p>
    <p>From: @Model.Source</p>
</div>
